<form action=# method="post">
    <table>
    <tr><th>Login or email</th>
    <td><input type="text" name="login" /></td></tr>
    <tr><td>&nbsp;</td><td>
    <input type="submit" value="Validate" />
&nbsp;&nbsp;<a href="/lssm/index.rb" id="forgot">Return to Login</a>
</td></tr>
    </table>
    <input type="hidden" name="step" value="validate"> 
    <input type="hidden" name="action" value="forgot"> 
</form>
