<form action=login method="post">
    <table>
    <tr><th>Login</th>
    <td><input type="text" name="login" /></td></tr>
    <tr><th>Password</th>
    <td><input type="password" name="password" /></td></tr>
    <tr><td>&nbsp;</td><td>
    <input type="submit" value="Login" />
&nbsp;&nbsp;<a href="<%= options[:forgot_link] -%>" id="forgot">I forgot my password</a>
</td></tr>
    </table>
    <input type="hidden" name="action" value="login"> 
</form>
