<form action="#" method="post">
    <table>
    <% options['fields'].each do | label, attr| -%>
    <% entry = options['entry'][attr] -%>
<tr><th><%= label -%></th> <td><input type="text" name=<%= attr -%> value="<%= entry -%>" /></td></tr>
    <% end -%>
   
    <tr><td>&nbsp;</td><td>
    <input type="submit" value="Update" />
&nbsp;&nbsp;<a href="logout" id="logout">Logout</a> </td></tr>
    </table>
    <input type="hidden" name="action" value="update">
</form>
