<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <title>Self service password</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Script-Type" content="text/javascript" />
    <meta http-equiv="cache-control" content="no-cache" />
    <link rel="stylesheet" type="text/css" href="style/styles.css" />
    <link href="style/favicon.ico" rel="icon" type="image/x-icon" />
    <link href="style/favicon.ico" rel="shortcut icon" />
</head>
<body>

<div id="content">
<h1>Self service password</h1>
<img src="style/ltb-logo.png" alt="Logo" />
<h2>Cannot access to LDAP directory</h2>
<form action="#" method="post">
    <table>
    <tr><th>Login</th>

    <td><input type="text" name="login" /></td></tr>
    <tr><th>Old password</th>
    <td><input type="password" name="oldpassword" /></td></tr>
    <tr><th>New password</th>
    <td><input type="password" name="newpassword" /></td></tr>
    <tr><th>Confirm</th>
    <td><input type="password" name="confirmpassword" /></td></tr>

    <tr><td colspan="2">
    <input type="submit" value="Send" /></td></tr>
    </table>
</form>
</div>

</body>
</html>

