<form action="#" method="post">
    <table>
    <tr><th>Login</th><td><%= options[:login] -%> </td></tr>
    <tr><th>Password</th><td><input type="password" name="userPassword" /></td></tr>
    <tr><th>Confirm Password</th><td><input type="password" name="confirmPassword" /></td></tr>  
    <tr><td>&nbsp;</td><td>
    <input type="submit" value="Update" />
&nbsp;&nbsp;<a href="index.rb" id="logout">Return to Login</a> </td></tr>
    </table>
    <input type="hidden" name="action" value="update">
</form>
