<form action="#" method="post">
    <table>
    <tr><th>Login</th><td><input type="input" disabled="disabled" value="<%= options[:login] -%>" name="login" /> </td></tr>
    <tr><th>Password</th><td><input type="password" name="userPassword" /></td></tr>
    <tr><th>Confirm Password</th><td><input type="password" name="confirmPassword" /></td></tr>  
    <tr><td>&nbsp;</td><td>
    <input type="submit" value="Update" />
&nbsp;&nbsp;<a href="/" id="logout">Return to Login</a> </td></tr>
    </table>
    <input type="hidden" name="step" value="adminreset">
    <input type="hidden" name="action" value="forgot">
</form>
