<form action=# method="post">
    <table>
    <tr><th>Login</th>
    <td><input type="text" name="login" /></td></tr>
    <tr><th>Password</th>
    <td><input type="password" name="password" /></td></tr>
    <tr><td>&nbsp;</td><td>
    <input type="submit" value="Login" /></td></tr>
    </table>
    <input type="hidden" name="action" value="login"> 
<div id="forgot">
<a href="login/reset">I forgot my password</a>
</div>
</form>
